name: Build Android APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: "3.24.x"
        channel: "stable"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flet requests urllib3

    # === 调试：查看文件到底在哪里 ===
    - name: List files
      run: ls -R

    # === 打包 ===
    # 因为改名成了 main.py 且在根目录，这里不需要写文件名
    - name: Build APK
      run: |
        yes | flet build apk --verbose

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/app/outputs/flutter-apk/app-release.apk
